# Imports

In [1]:
import pandas as pd
import os
import numpy as np

# Load raw data

In [2]:
df = pd.read_csv('fairface_label_train.csv')
df

                  file           age  gender        race  service_test
0          train/1.jpg         50-59    Male  East Asian          True
1          train/2.jpg         30-39  Female      Indian         False
2          train/3.jpg           3-9  Female       Black         False
3          train/4.jpg         20-29  Female      Indian          True
4          train/5.jpg         20-29  Female      Indian          True
...                ...           ...     ...         ...           ...
86739  train/86740.jpg         20-29    Male      Indian          True
86740  train/86741.jpg         10-19    Male      Indian          True
86741  train/86742.jpg  more than 70  Female      Indian          True
86742  train/86743.jpg         10-19  Female       Black          True
86743  train/86744.jpg         40-49    Male       White         False

[86744 rows x 5 columns]

# Drop unnecessary columns

In [ ]:
df.drop(columns=['age', 'service_test'])

# Convert filename

In [ ]:
df['image'] = df['file'].apply(lambda x: x.split('/')[-1])
df.drop(columns=['file'], inplace=True)
df

# Check for all files

In [ ]:
files = os.listdir('fairface_cropped_images')
files.__len__()

5500

In [ ]:
df = df[df['image'].isin(files)]
df

           image     label
0      CF437.jpg  2.883333
1     AM1384.jpg  2.466667
2     AM1234.jpg  2.150000
3     AM1774.jpg  3.750000
4      CF215.jpg  3.033333
...          ...       ...
5495   AF546.jpg  1.883333
5496   AM558.jpg  2.766667
5497   AF805.jpg  2.450000
5498   AF271.jpg  3.233333
5499  AM1535.jpg  2.066667

[5500 rows x 2 columns]

# Save the cleaned data

In [ ]:
df.to_csv('FairFace.csv', index=False)